<h1 class="text-center">Student Learning Center Tutoring</h1>

<div style= "margin-top:45px">
<%= image_tag "cal.png", :class=> "center-block img-responsive", :size => "300x220", :style => "margin-bottom:80px" %>
</div>

<div class="btn-group btn-group-justified">
    <%= link_to new_tutee_session_path, :class => "btn btn-default", :id=> "tutee-login" do %>
         <h1 class="glyphicon glyphicon-pencil"></h1>
         <div>Tutee Login</div>
    <% end %>      
  
    <%= link_to new_tutor_session_path, :class => "btn btn-default", :id=> "tutor-login" do %>
        <h1 class="glyphicon glyphicon-apple"></h1>
         <div>Tutor Login</div>
     <% end %>    
 
    <%= link_to root_path, :class => "btn btn-default" do %>
        <h1 class="glyphicon glyphicon-user"></h1>
        <div>Admin Login</div>
    <% end %>    
</div>

