<h1>SLC Writing Program</h1>

<!--<%= link_to 'Login', login_path %>-->


<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">Left</a>
  <a href="#" class="btn btn-default">Middle</a>
  <a href="#" class="btn btn-default">Right</a>
</div>

<%= link_to "Tutee", new_tutee_session_path, :class => "btn btn-default" %>
<%= link_to "Tutor", new_tutor_session_path %>