
<div style="width: 50%;">
  <table class="table table-striped table-hover table-bordered">
    <tr class="table-info">
      <th></th>
      <% TimeAvailability.group(:start_time).order(:id).each do |t| %>
        <th><%= t.start_time %></th>
      <% end %>
    </tr>
    <% TimeAvailability.group(:day).order(:id).each do |t| %>
      <tr>
        <th><%= t.day %></th>
        <% TimeAvailability.group(:start_time).order(:id).each do |t| %>
          <td><%= check_box_tag 'time' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>




