
  <table>
    <tr>
      <th></th>
      <% TimeAvailability.group(:start_time).order(:start_time).each do |t| %>
        <th><%= t.start_time %></th>
      <% end %>
    </tr>
    <% TimeAvailability.group(:day).order(:id).each do |t| %>
      <tr>
        <th><%= t.day %></th>
        <% TimeAvailability.group(:start_time).order(:id).each do |t| %>
          <td><%= check_box_tag 'time' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>




